<div class="page" id="project-view">
	<h2 class="title"><%= @project.role %></h2>
	<strong><p id="project-subheader"><%= @project.title %> · <%= @project.media_type %></p></strong>
	<div id="video">
		<iframe width="640" height="430" src="https://www.youtube.com/embed/<%= @project.youtube_id %>" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="description">
		<p><%= @project.description %></p>
		<p><%= link_to "edit", edit_project_path(@project) %></p>
		<p class="link"><%= link_to "back to reel", projects_path %></p>
	</div>
</div>
