<!DOCTYPE html>
<html>
<head>
  <title>Reelism</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrap">
		<header>
			<h1 id="header-text">Name Creditson's Reel</h1>
		</header>
		<div class="main">
		<p class="flash"><%= flash.notice %></p>
	<%= yield %>
		</div>	
		<footer>
			<button><input placeholder="Search Reels..."></input>  Search</button>
			<button>Create New Reel</button>
			<button>Login</button>
<!-- 			<button></button> -->
		</footer>
	</div>
</body>
</html>
